body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li.list-group-item {
  margin-bottom: 50px!important;
}

body {
  background: linear-gradient(to bottom, #ffffff, #1db954);

  /* Assure que le dégradé couvre toute la page */
  min-height: 100vh;

  /* Optionnel: rend le dégradé plus fluide */
  background-size: cover;
}

.react-tabs__tab--selected {
  background-color: #fff0;
}

